__pycache__
.ipynb_checkpoints
.nfs*

experimentScripts/visualizations/latentJacobianImages
experimentScripts/visualizations/*.png
experimentScripts/visualizations/*/*.png
experimentScripts/visualizations/*/*/*.png
*.zip

trainedModels/*/
trainedStandardModels/*/
logs/*
data/mpi3d_real
data/threeDots
data/naturalImages
data/orl_faces

threeDotRepeatedSeeds/*/
threeDotRepeatedSeeds/*.zip
trainedNaturalImageModels/*/
trainedNaturalImageModels/*.zip
trainedThreeDotModelsBatches/*/
trainedThreeDotModelsBatches/*.zip
trainedBaselineModels/*/
trainedBaselineModels/*.zip
trainedMPI3DModels/*/
trainedMPI3DModels/*.zip

experimentScripts/visualizations/analyticNaturalImages/analyticModels
experimentScripts/visualizations/analyticNaturalImages/images
