trainedModels/*
trainedStandardModels/*
logs/*
data/mpi3d_real
data/threeDots
data/naturalImages
data/orl_faces
__pycache__
.ipynb_checkpoints
.nfs*
experimentScripts/visualizations/latentJacobianImages
experimentScripts/visualizations/*.png
experimentScripts/visualizations/*/*.png
experimentScripts/visualizations/*/*/*.png
*.zip
naturalImageDownload/
standardModelsDownload/
threeDotsDownload/
trainedStandardModelsCameraReady20211008/
trainedStandardModelsContinueRecalculation20211008/
previousTrainedStandardModelsCopiedOn20211015/
threeDotRepeatedSeeds/
trainedBaselineModels/
trainedMPI3DModels/
trainedThreeDotModelsBatches/
