trainedModels/*
trainedStandardModels/*
logs/*
data/mpi3d_real
data/threeDots
data/naturalImages
__pycache__
.ipynb_checkpoints
.nfs*
experimentScripts/visualizations/latentJacobianImages
experimentScripts/visualizations/*.png
experimentScripts/visualizations/*/*.png
experimentScripts/visualizations/*/*/*.png
*.zip
naturalImageDownload/
standardModelsDownload/
threeDotsDownload/
scratchwork/TinyICAData/trainedModels
scratchwork/TinyICAData/icaData.npz
scratchwork/TinyICAData/debug_architecture
scratchwork/TinyICAData/toyDatasetTrainedModels/
